<clickhouse>
    <keeper_server>
        <tcp_port>9234</tcp_port>
        <server_id>{{ server_ids[inventory_hostname] }}</server_id>
        <log_storage_path>/var/lib/clickhouse/coordination/log</log_storage_path>
        <snapshot_storage_path>/var/lib/clickhouse/coordination/snapshots</snapshot_storage_path>
        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>100000</session_timeout_ms>
            <raft_logs_level>warning</raft_logs_level>
            <auto_create_tables>true</auto_create_tables>
        </coordination_settings>
        <raft_configuration>
            %{ for id, dns_name in private_dns ~}
            <server>
                <id>{{ id + 1 }}</id>
                <hostname>{{ dns_name }}</hostname>
                <port>9234</port>
            </server>
            %{ endfor ~}
        </raft_configuration>
    </keeper_server>

    <zookeeper>
        %{ for id, dns_name in private_dns ~}
        <node>
            <host>{{ dns_name }}</host>
            <port>9234</port>
        </node>
        %{ endfor ~}
        <session_timeout_ms>30000</session_timeout_ms>
    </zookeeper>
</clickhouse>