<yandex>
    <users>
        <metabase>
            <password>{{clickhouse_metabase_password}}</password>
            <networks>
                <ip>{{metabase_cidr}}</ip>
            </networks>
            <profile>default</profile>
            <quota>default</quota>
        </metabase>
    </users>
</yandex>